## Prohibit the automatic placement of pins that are connected to VCC or GND for configuration.
CONFIG PROHIBIT=P60;
CONFIG PROHIBIT=P69;
CONFIG PROHIBIT=P144;
CONFIG PART=XC6SLX9-TQG144-2;


# Clock
NET "CLOCK_32<0>" LOC = "P94" | IOSTANDARD = LVTTL | PERIOD=31.25ns;

# 7-segment display

# NET "SS_ANODES<0>" LOC="P85";
# NET "SS_ANODES<1>" LOC="P79";
# NET "SS_ANODES<2>" LOC="P56";
# NET "SS_ANODES<3>" LOC="P48";

NET "SS_SEGS<7>" LOC="P51";  # DP
NET "SS_SEGS<6>" LOC="P81";
NET "SS_SEGS<5>" LOC="P61";
NET "SS_SEGS<4>" LOC="P58";
NET "SS_SEGS<3>" LOC="P67";
NET "SS_SEGS<2>" LOC="P66";
NET "SS_SEGS<1>" LOC="P83";
NET "SS_SEGS<0>" LOC="P75";

NET "SS_SEGS<8>"  LOC="P31";  # DP
NET "SS_SEGS<9>"  LOC="P32";
NET "SS_SEGS<10>" LOC="P33";
NET "SS_SEGS<11>" LOC="P34";
NET "SS_SEGS<12>" LOC="P35";
NET "SS_SEGS<13>" LOC="P36";
NET "SS_SEGS<14>" LOC="P37";
NET "SS_SEGS<15>" LOC="P38";
NET "SS_SEGS<16>" LOC="P39";  # DP
NET "SS_SEGS<17>" LOC="P30";
NET "SS_SEGS<18>" LOC="P41";
NET "SS_SEGS<19>" LOC="P42";
NET "SS_SEGS<20>" LOC="P43";
NET "SS_SEGS<21>" LOC="P44";
NET "SS_SEGS<22>" LOC="P45";
NET "SS_SEGS<23>" LOC="P46";
NET "SS_SEGS<24>" LOC="P47";  # DP
NET "SS_SEGS<25>" LOC="P48";
NET "SS_SEGS<26>" LOC="P49";
NET "SS_SEGS<27>" LOC="P20";
NET "SS_SEGS<28>" LOC="P21";
NET "SS_SEGS<29>" LOC="P22";
NET "SS_SEGS<30>" LOC="P23";
NET "SS_SEGS<31>" LOC="P24";



# Joystick
# -- NET "BTN_UP"      LOC="P50";
# -- NET "BTN_DOWN"    LOC="P55";
# -- NET "BTN_LEFT"    LOC="P57";
# -- NET "BTN_RIGHT"   LOC="P59";
# -- NET "BTN_CENTER"  LOC="P47";

# Input SW
# -- NET "SWITCH<7>" LOC = "P114"; # IOSTANDARD=LVTTL;
# -- NET "SWITCH<6>" LOC = "P115"; # | IOSTANDARD=LVTTL;
# -- NET "SWITCH<5>" LOC = "P116"; # | IOSTANDARD=LVTTL;
# -- NET "SWITCH<4>" LOC = "P117"; # | IOSTANDARD=LVTTL;
# -- NET "SWITCH<3>" LOC = "P118"; # | IOSTANDARD=LVTTL;
# -- NET "SWITCH<2>" LOC = "P119" ; # | IOSTANDARD=LVTTL;
# -- NET "SWITCH<1>" LOC = "P120" ; # | IOSTANDARD=LVTTL;
# -- NET "SWITCH<0>" LOC = "P121" ; # | IOSTANDARD=LVTTL;

# LEDs
# NET "LED<0>" LOC = "P134";
# NET "LED<1>" LOC = "P133";
# NET "LED<2>" LOC = "P132";
# NET "LED<3>" LOC = "P131";
# NET "LED<4>" LOC = "P127";
# NET "LED<5>" LOC = "P126";
# NET "LED<6>" LOC = "P124";
# NET "LED<7>" LOC = "P123";

# VGA
# -- NET "VGA_R<0>"  LOC = "P78" | IOSTANDARD=LVTTL;
# -- NET "VGA_R<1>"  LOC = "P74" | IOSTANDARD=LVTTL;
# -- NET "VGA_R<2>"  LOC = "P95" | IOSTANDARD=LVTTL;
# -- NET "VGA_G<0>"  LOC = "P84" | IOSTANDARD=LVTTL;
# -- NET "VGA_G<1>"  LOC = "P82" | IOSTANDARD=LVTTL;
# -- NET "VGA_G<2>"  LOC = "P80" | IOSTANDARD=LVTTL;
# -- NET "VGA_B<0>"  LOC = "P92" | IOSTANDARD=LVTTL;
# -- NET "VGA_B<1>"  LOC = "P87" | IOSTANDARD=LVTTL;
# -- NET "VGA_VSYNC" LOC = "P99" | IOSTANDARD=LVTTL;
# -- NET "VGA_HSYNC" LOC = "P97" | IOSTANDARD=LVTTL;
